.circulo-1 {
    background-color: rgb(253, 250, 182);
}

.circulo-2 {
    background-color: rgb(184, 219, 183);
}

.circulo-3 {
    background-color: rgb(177, 245, 233);
}

.circulo-4 {
    background-color: rgb(222, 214, 255);
}

.circulo-5 {
    background-color: rgb(207, 178, 157);
}

.circulo-6 {
    background-color: rgb(255, 214, 185);
}

.circulo-7 {
    background-color: rgb(255, 225, 241);
}

.circulo-8 {
    background-color: rgb(234, 216, 178);
}

.circulo-9 {
    background-color: rgb(185, 219, 194);
}

.circulo-10 {
    background-color: rgb(194, 238, 217);
}

.circulo-11 {
    background-color: rgb(202, 150, 119, 0.63);
}

.circulo-12 {
    background-color: rgb(187, 159, 148);
}

.circulo-13 {
    background-color: rgb(255, 218, 207);
}

.circulo-14 {
    background-color: rgb(210, 184, 164, 0.82);
}

.circulo-15 {
    background-color: rgb(73, 110, 144, 0.47);
}

.circulo-16 {
    background-color: rgb(166, 152, 216, 0.53);
}

.circulo-17 {
    background-color: rgb(185, 114, 82, 0.47);
}

.circulo-18 {
    background-color: rgb(125, 195, 214, 0.45);
}

.circulo-19 {
    background-color: rgb(83, 175, 139, 0.40);
}

.circulo-20 {
    background-color: rgb(175, 78, 74, 0.50);
}
